<div class="ui relaxed grid">
	<div class="column computer only" id="computer-menu">
		<div class="ui large stackable menu">
			<div class="header item">
				<%= t('site.title') %>
			</div>
			<%= link_to(t('site.pages.homepage'), root_path, class: 'item') %>
			<%= link_to(t('site.pages.ethos'), get_page_url('ethos'), class: 'item') %>
			<%= link_to(t('site.pages.courses'), get_page_url('courses'), class: 'item') %>
			<%= link_to(t('site.pages.contribute'), get_page_url('contribute'), class: 'item') %>
			<%= link_to(t('site.pages.donate'), get_page_url('donate'), class: 'item') %>
			<div class="right menu">
				<%= link_to('<i class="sign in icon"></i> '.html_safe+t('site.sign_in'), login_path, class: 'item') %>
				<div class="ui simple dropdown item">
					<i class="translate icon"></i> <%= t('site.change_lang')%>
					<i class="dropdown icon"></i>
					<div class="menu">
						<%= link_to('English', url_for( :locale => 'en' ), class: 'item') %>
						<%= link_to('Français', url_for( :locale => 'fr' ), class: 'item') %>
						<%= link_to('العرب', url_for( :locale => 'ar' ), class: 'item') %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui left vertical menu sidebar hidden">
	<%= link_to(t('site.pages.homepage'), root_path, class: 'item') %>
	<%= link_to(t('site.pages.ethos'), get_page_url('ethos'), class: 'item') %>
	<%= link_to(t('site.pages.courses'), get_page_url('courses'), class: 'item') %>
	<%= link_to(t('site.pages.contribute'), get_page_url('contribute'), class: 'item') %>
	<%= link_to(t('site.pages.donate'), get_page_url('donate'), class: 'item') %>
	<%= link_to('<i class="sign in icon"></i> '.html_safe+t('site.sign_in'), login_path, class: 'item') %>
	<div class="header item"><i class="translate icon"></i> <%= t('site.change_lang')%></div>
	<%= link_to('English', url_for( :locale => 'en' ), class: 'item') %>
	<%= link_to('Français', url_for( :locale => 'fr' ), class: 'item') %>
	<%= link_to('العرب', url_for( :locale => 'ar' ), class: 'item') %>
</div>

<div class="ui grid">
	<div class="column tablet mobile only">
		<div class="ui large menu mobile-menu">
			<div class="header item">
				<%= t('site.title') %>
			</div>
			<div class="right menu">
				<a class="toc item">
					<i class="sidebar icon"></i>
				</a>
			</div>
		</div>
	</div>
</div>