<div class="ui large stackable menu">
	<div class="header item">
		<%= t('site.title') %>
	</div>
	<%= link_to(t('site.pages.homepage'), root_path, class: 'item') %>
	<%= link_to(t('site.pages.ethos'), get_page_url('ethos'), class: 'item') %>
	<%= link_to(t('site.pages.courses'), get_page_url('courses'), class: 'item') %>
	<%= link_to(t('site.pages.contribute'), get_page_url('contribute'), class: 'item') %>
	<%= link_to(t('site.pages.donate'), get_page_url('donate'), class: 'item') %>
	<div class="right stackable menu">
		<%= link_to('<i class="sign in icon"></i> '.html_safe+t('site.sign_in'), login_path, class: 'item') %>
		<div class="ui simple dropdown item">
			<i class="translate icon"></i> <%= t('site.change_lang')%>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item"><%= link_to 'English', locale: 'en' %></div>
				<div class="item"><%= link_to 'Français', locale: 'fr' %></div>
				<div class="item"><%= link_to 'العربية', locale: 'ar' %></div>
			</div>
		</div>
	</div>
</div>
