<div class="ui container centered content">
    <section>
        <h2 class="ui teal header">
            <%= t('ethos_page.what_is_soul_medicine') %>
        </h2>
        <div class="section-text">
            <%= simple_format t('ethos_page.what_is_soul_medicine_paragraph') %>
        </div>
    </section>
    <section>
        <h2 class="ui teal header">
            <%= t('ethos_page.who_is_it_for') %>
        </h2>
        <div class="section-text">
            <%= simple_format t('ethos_page.who_is_it_for_paragraph') %>
        </div>
    </section>
    <section>
        <h2 class="ui teal header">
            <%= t('ethos_page.what_sparked') %>
        </h2>
        <div class="section-text">
            <%= simple_format t('ethos_page.what_sparked_paragraph') %>
        </div>
    </section>
    <section>
        <h2 class="ui teal header">
            <%= t('ethos_page.like_what_you_see') %>
        </h2>
        <div class="section-text">
            <%= simple_format t('ethos_page.like_what_you_see_paragraph') %>
        </div>
    </section>
</div>