<div class="ui middle aligned center aligned stackable grid three columns">
	<div class="column"></div>
	<div class="column">
		<h2 class="ui teal icon image header">
	      <%= image_tag('logo.png', class: 'ui centered tiny image') %> 
	      <div class="content">
	        <%= t('verify_pin_page.header') %>
	      </div>
	    </h2>
	    <%= form_tag({:action => 'verify'}, {:class => 'ui large form'}) do %>
	      <div class="ui stacked segment">
	        <div class="fluid field">
	          <div class="ui left icon input">
	            <i class="mobile icon"></i>
	            <%= text_field_tag :mobile_number, nil, :placeholder => t('verify_pin_page.form.mobile_number') %>
	          </div>
	        </div>
	        <div class="field">
	          <div class="ui left icon input">
	            <i class="asterisk icon"></i>
	            <%= text_field_tag :pin, nil, :placeholder => t('verify_pin_page.form.pin') %>
	          </div>
	        </div>
	        <%= button_tag(type: "submit", class: "ui fluid large teal submit button") do %>
				<i class="sign in icon"></i> <%= t('site.sign_in') %>
			<% end %>
	      </div>
	
	      <div class="ui error message"></div>
	
	    <% end %>
	
	    <div class="ui message">
	      New to us? <a href="#">Sign Up</a> <br/>
	      Having Issues with your PIN? <a hreg="#">Contact Us</a>
	    </div>
	</div>
	<div class="column"></div>
</div>

<% content_for :after_body do %>
	<script>
		$(document).ready(function() {
			$('.ui.form').form({
				fields: {
					email: {
						identifier  : 'mobile_number',
						rules: [
							{
								type   : 'empty',
								prompt : '<%= t('sign_in_page.form.validations.phone_empty') %>'
							},
							{
								type   : 'integer[1..999999999999]',
								prompt : '<%= t('sign_in_page.form.validations.phone_invalid_number') %>'
							},
							{
								type   : 'minLength[7]',
								prompt : '<%= t('sign_in_page.form.validations.phone_invalid_number') %>'
							}
						]
					},
					password: {
						identifier  : 'pin',
						rules: [
							{
								type   : 'empty',
								prompt : '<%= t('verify_pin_page.form.validations.pin_empty') %>'
							},
							{
								type   : 'length[5]',
								prompt : '<%= t('verify_pin_page.form.validations.pin_length') %>'
							},
							{
								type   : 'integer[1..99999]',
								prompt : '<%= t('verify_pin_page.form.validations.pin_invalid') %>'
							}
						]
					}
				}
			});
		});
	</script>
<% end %>