<h1>Signup!</h1>

<%= form_for(@user_preferences, url: {action: :create}, html: {class: 'form-inline'}) do |f| %>
		<div class="form-group">
			<label class="control-label">First Name</label>
			<%= f.text_field :first_name, class: 'form-control' %>
		</div>
		<div class="form-group">
			<label class="control-label">Last Name</label>
			<%= f.text_field :last_name, class: 'form-control' %>
		</div>
		<div class="form-group">
			<label class="control-label">Email</label>
			<%= f.text_field :email, class: 'form-control' %>
		</div>
		<div class="form-group">
			<label class="control-label">Password</label>
			<%= f.text_field :password, class: 'form-control' %>
		</div>
		<div class="form-group">
			<label class="control-label">Confirm Password</label>
			<%= f.text_field :password_confirmation, class: 'form-control' %>
		</div>
		<div class="form-group">
			<label>Language</label>
			<%= collection_select(:language, :id, Language.where(:is_active => true), :id, :name, {}, {:class => 'form-control'}) %>
		</div>
		<div class="form-group">
			<label>Language1</label>
			<%= collection_select(:language, :id1, Language.where(:is_active => true), :id, :name, {}, {:class => 'form-control'}) %>
		</div>
		<div class="form-group">
			<label>Language2</label>
			<%= collection_select(:language, :id2, Language.where(:is_active => true), :id, :name, {}, {:class => 'form-control'}) %>
		</div>
		<div class="form-group">
			<label>Gender</label>
			<%= collection_select(:gender, :id, Gender.where(:is_active => true), :id, :gender, {}, {:class => 'form-control'}) %>
		</div>
		<div class="form-group">
			<label>Country</label>
			<%= collection_select(:country, :id, Country.where(:is_active => true), :id, :name, {}, {:class => 'form-control'}) %>
		</div>
		<div class="form-group">
			<label>Country1</label>
			<%= collection_select(:country, :id1, Country.where(:is_active => true), :id, :name, {}, {:class => 'form-control'}) %>
		</div>
		<div class="form-group">
			<label>Country1</label>
			<%= collection_select(:country, :id1, Country.where(:is_active => true), :id, :name, {}, {:class => 'form-control'}) %>
		</div>
		<div class="form-group">
			<label>Consent</label>
			<%= check_box_tag(:sms, 1, class: "checkbox") %>
		</div>
		<div class="form-group">
			<label>Consent</label>
			<%= check_box_tag(:consent, true, class: "checkbox") %>
		</div>
		<div>
			<label>Age</label>
			<%= f.text_field :age, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= submit_tag("Submit", class: 'btn btn-home') %>
<% end %>
</div>