<div class="ui middle aligned stackable centered grid">
	<div class="nine wide column">
		<h2 class="ui teal icon image header center aligned">
	      <%= image_tag('logo.png', class: 'ui centered tiny image') %> 
	      <div class="content">
	        <%= t('preferences_page.header') %>
	      </div>
	    </h2>
	    <%= form_for(@user_preferences, url: {action: :update}, html: {class: 'ui large form'}) do |f| %>
	      <div class="ui info icon message">
	      	<i class="info icon"></i>
		    <div class="content">
		    	<div class="header"><%= t('preferences_page.general_information_header') %></div>
		      	<p><%= t('preferences_page.general_information') %></p>
		    </div>
	      </div>
	      
	      <div class="ui error message"></div>
	      
	      <h4 class="ui dividing header">Personal Information</h4>
	      
		      <div class="field">
		      	<div class="two fields">
		      		<div class="field">
	      				<label>First Name</label>
		      			<%= f.text_field :first_name, :placeholder => "Optional!" %>
		      		</div>
		      		<div class="field">
		      			<label>Last Name</label>
		      			<%= f.text_field :last_name, :placeholder => "Optional!" %>
		      		</div>
		      	</div>
		      </div>
		      
		      <div class="field">
		      	<label>Email</label>
		      	<%= f.email_field :email, :placeholder => "Optional!" %>
		      </div>
		      
		      <div class="three fields">
		      	<div class="field">
		      		<label>Age</label>
		      		<%= f.number_field :age, :placeholder => "Optional!" %>
		      	</div>
		      	<div class="field">
		      		<label>Gender</label>
		      		<% @user_preferences.build_gender unless @user_preferences.gender %>
		      		<%= f.fields_for :gender do |g| %>
		      			<%= g.select :id, Gender.where(:is_active => true).collect { |p| [ p.gender, p.id ] }, { :include_blank => "Optional!" }, {:class => 'dropdown', :prompt => "Optional!"} %>
		      		<% end %>
		      	</div>
		      	<div class="field">
		      		<label>Native Language</label>
		      		<% @user_preferences.build_native_language unless @user_preferences.native_language %>
		      		<%= f.fields_for :native_language do |g| %>
		      			<%= g.select :id, Language.where(:is_active => true).collect { |p| [ p.name, p.id ] }, { :include_blank => "Optional!" }, {:class => 'dropdown', :prompt => "Optional!"} %>
		      		<% end %>
		      	</div>
		      </div>
		      
	      <h4 class="ui dividing header">Service Information</h4>
	      
		      <div class="two fields">
		      	<div class="field">
		      		<label>Country of Origin</label>
		      		<% @user_preferences.build_origin_country unless @user_preferences.origin_country %>
		      		<%= f.fields_for :origin_country do |g| %>
		      			<%= g.select :id, Country.where(:is_active => true).collect { |p| [ p.name, p.id ] }, { :include_blank => "Optional!" }, {:class => 'dropdown search', :prompt => "Optional!"} %>
		      		<% end %>
		      	</div>
		      	<div class="field">
		      		<label>Country of Residence</label>
		      		<% @user_preferences.build_country_of_residence unless @user_preferences.country_of_residence %>
		      		<%= f.fields_for :country_of_residence do |g| %>
		      			<%= g.select :id, Country.where(:is_active => true).collect { |p| [ p.name, p.id ] }, { :include_blank => "Optional!" }, {:class => 'dropdown search', :prompt => "Optional!"} %>
		      		<% end %>
		      	</div>
		      </div>
	      
		      <div class="two fields">
		      	<div class="field">
		      		<label>Preferred Language</label>
		      		<% @user_preferences.build_other_language_one unless @user_preferences.other_language_one %>
		      		<%= f.fields_for :other_language_one do |g| %>
		      			<%= g.select :id, Language.where(:is_active => true).collect { |p| [ p.name, p.id ] }, { :include_blank => "Optional!" }, {:class => 'dropdown', :prompt => "Optional!"} %>
		      		<% end %>
		      	</div>
		      	<div class="field">
		      		<label>Secondary Language</label>
		      		<% @user_preferences.build_other_language_two unless @user_preferences.other_language_two %>
		      		<%= f.fields_for :other_language_two do |g| %>
		      			<%= g.select :id, Language.where(:is_active => true).collect { |p| [ p.name, p.id ] }, { :include_blank => "Optional!" }, {:class => 'dropdown', :prompt => "Optional!"} %>
		      		<% end %>
		      	</div>
		      </div>
	      
		      <div class="three fields">
		      	<div class="field">
		      		<label>Primary Message Service</label>
		      		<%= collection_select(:message_service_one, :id, MessageService.where(:is_active => true), :id, :service, {}, {:class => 'dropdown'}) %>
		      	</div>
		      	<div class="field">
		      		<label>Secondary Message Service</label>
		      		<%= collection_select(:message_service_two, :id, Language.where(:is_active => true), :id, :name, {:prompt => "Optional!"}, {:class => 'dropdown disabled'}) %>
		      	</div>
		      	<div class="required field">
		      		<label>Preferred Delivery Time (GMT)</label>
		      		<%= f.select :delivery_time, options_for_select([["Morning","morning"], ["Afternoon","afternoon"], ["Evening","evening"]]), { include_blank: true }, {:class => 'dropdown', :prompt => "Select A Delivery Time"} %>
		      	</div>
		      </div>
		      
	      <h4 class="ui dividing header">Consent</h4>
	      
		      <div class="inline field">
				<div class="ui checkbox">
			      	<%= f.check_box :consent %>
			      	<label>I CONSENT to Soul Medicine contacting me by text message, email, or any other form of delivery I have indicated above. I will ensure that I keep the practice informed of my up to date mobile number at all times, or if the number is no longer in my possession.</label>
				</div>
		      </div>
	
	      <%= button_tag(type: "submit", class: "ui fluid large teal submit button") do %>
			<i class="sign in icon"></i> Register
	      <% end %>
	
	    <% end %>
	
	</div>
</div>

<% content_for :after_body do %>
	<script>
		$(document).ready(function() {
			$('.ui.form').form({
				fields: {
					delivery_time: {
						identifier: "user_preference_delivery_time",
						rules: [
							{
								type   : 'empty',
								prompt : 'You must select a delivery time'
							}
						]
					},
					consent: {
						identifier: "user_preference_consent",
						rules: [
							{
								type   : 'checked',
								prompt : 'You must agree to the consent'
							}
						]
					}
				}
			});
		});
	</script>
<% end %>