<!DOCTYPE html>
<html>
<head>
  <title>SoulMedicine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href='https://fonts.googleapis.com/css?family=Arvo|Lato' rel='stylesheet' type='text/css'>
</head>
<body id="home">
	<%= render 'shared/navbar' %>
	<%= render 'shared/flash' %>

  <%= yield %>

</body>
</html>
