<!DOCTYPE html>
<html>
<head>
  <title>SoulMedicine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Flash Notice -->
  <% if !flash.empty? %>
      <p><%= flash[:notice] %></p>
  <% end %>

  <%= yield %>

</body>
</html>
