<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Soul Medicine" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'shared/navbar' %>
    <div class="pusher">
      <% if !flash.empty? %>
        <div class="ui stackable grid three columns">
          <div class="one column centered">
            <%= semantic_flash %>
          </div>
        </div>
      <% end %>
      <%= content_for?(:breadcrumbs) ? yield(:breadcrumbs) + yield : yield %>
      <%= render 'cookies_eu/consent_banner' %>
      <%= yield :after_body %>
    </div>

  </body>
</html>
